; BIND reverse file 
;
$TTL    604800 
@       IN      SOA     eye-jagoinfra.ji. root.ji. (
                              1         ; Serial 
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

; Reverse records
{% if dbs is defined %}
{% for db in dbs if db.type == 'A' and db.ip.startswith(item + '.') %}
{% set ip_parts = db.ip.split('.') %}
{{ ip_parts[3] }}		IN		PTR		{{ db.domain_name }}.dtl.
{% endfor %}
{% endif %}

